/* Resume CSS 
*/

/* General reset for consistent styling across browsers */
body, h1, h2, h3, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    text-align: center;
}

.contactinfo {
    text-align: center;
    }

.UofAdates, .GCUdates {
    text-align: right;
}
.educationtitle {
    text-align: center;
}

.UofAdates .GCUdates {
    text-align: right;
}

h3 {
    text-align: center;
}

.exptype {
    text-align: Left;
}

.expdescription {
    text-align: center;
}

.expdates {
    text-align: right;
}


